<!-- Notify delete of the library information -->
<div id="column">

  <%= render 'booklist/titlebar' %>

  <%= render 'booklist/statusbar', :current_page => '蔵書登録削除ページ' %>

  <%= render 'booklist/menubar' %>

<div id="main">
  蔵書ID: <%= @booklist.id %>の削除を行いました．
</div>
